<table class="table text-center">
<thead>
  <tr>
    <td>Image</td>
<td>Name</td>
<td>Brand</td>
<td>Size</td>
<td>Price</td>
<td>Stock</td>
<td>Purchase</td>
  </tr>
</thead>
<tbody>


<tr *ngFor="let fragrance of fragrances" [ngClass]="{'clearance': fragrance.clearance}">
  <td><img [src]="fragrance.image" class="img-thumbnail" [alt]="fragrance.name"></td>
  <td>{{fragrance.name}}</td>
  <td>{{fragrance.brand}}</td>
  <td>{{fragrance.size}}</td>
  <td>{{fragrance.price | currency}}</td>
  <td><span class="badge text-bg-warning" *ngIf="fragrance.stock==0">SIN STOCK</span></td>
  <td>
    <app-input-integer [(quantity)]="fragrance.quantity" [max]="fragrance.stock" *ngIf="fragrance.stock"></app-input-integer>
    <button class="btn btn-primary btn-sm" (click)="addToCart(fragrance)">Buy now</button>

  </td>
</tr>

</tbody>
</table>
